.contact-us {
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    padding: 2rem;
}

.carousel {
    max-width: 100%; /* Adjust the percentage as needed */
    margin: auto;
}

.carousel-inner img {
    max-height: 550px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image covers the area without stretching */
}


.carousel-control-prev,
.carousel-control-next {
    width: 50%; /* Adjust the width as needed */
}

.carousel-control-prev {
    left: 50%; /* Adjust this value to move the button closer to the center */
}

.carousel-control-next {
    right: 50%; /* Adjust this value to move the button closer to the center */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Set the color to black */
    border-radius: 10%; /* Optional: make the buttons circular */
}
