.contact-us {
    background-color: #000000;
    color: #ffffff;
    min-height: 100vh;
    padding: 2rem;
}

.carousel {
    max-width: 100%; 
    margin: auto;
}

.carousel-inner img {
    max-height: 550px; 
    object-fit: cover; 
}


.carousel-control-prev,
.carousel-control-next {
    width: 50%; 
}

.carousel-control-prev {
    left: 50%; 
}

.carousel-control-next {
    right: 50%; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    border-radius: 10%;
}
